.logo {
    filter: sepia(85%);
}

.find-a-pet-style {
    font-family: 'Shadows Into Light', cursive;
    color: #82612B;
}

.find-a-pet-container {
    background-color: #F7F7E8;
}

.btn {
    background-color: #82612B;
    color: #fff;
}

.img-sepia {
    filter: sepia(70%);
}
