@keyframes logo-animation {
    from {
        filter: sepia(0%);
    } to {
        filter: sepia(100%);
    }
}

.logo {
    /* animation: logo-animation 5s linear 1s infinite alternate; */
    filter: sepia(85%);
}
